name: Build frontend app and deploy

defaults:
  run:
    working-directory: "backend/"

on:
  workflow_dispatch:
  push:
    branches:
    - feature/backend

jobs:
  TestingBuild:
    name: Test and Build
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3

    - name: Install and Test
      run: |
        apt-get update && apt-get -y install maven
        mvn clean test

    - name: Build Java
      run: |
        mvn clean package   

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.MY_TOKEN }}
    
    - name: Build and push image
      run: |
        docker build -t ghcr.io/jafferveronezi/backend:latest .
        docker push ghcr.io/jafferveronezi/backend:latest
